body{
	background-color: #dcf3f3;
	font-family: monospace, sans-serif;
	padding-left: 10%;
}
input,h2{
	display: inline-block;
	padding: 20px;
}

table{
	width: 50%;
	position: absolute;
	margin-top: 70px;
}

#addScreen{
	position: absolute;
	top : 600px;
	padding-bottom: 70px;
}

