body{
	background-color: #e7f6f6;
	font-family: monospace, sans-serif;
	padding-left: 10%;
}
input,h2{
	display: inline-block;
	padding: 20px;
}

table{
	width: 50%;
	position: absolute;
	margin-top: 70px;
}

#addScreen{
	position: absolute;
	top : 600px;
	padding-bottom: 70px;
}

#bar{
	position: absolute;
	left : 65%;
	background: #d4d4f2;
	width: 400px;
	height: 200px;
}

.chart rect {
    fill: steelblue;
  }
  
 #details{
	 position: absolute;
	 top: 300px;
 }
 
 .slice text {
    font-family: Droid Sans;
}

div #chart{
	position: absolute;
	top: 350px;
	background: none;
	left : 70%;
	width: 250px;
	height: 250px;
}

.col-sm-3 {
	padding-bottom: 10px;
}