<!DOCTYPE html>
<html ng-app="shopModule">
	<head>
		<title>Mobile Shop</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/d3.min.js"></script>
		<script src="js/jquery-2.2.3.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body  ng-controller="mobiles">
		<h2>Mobile Shop Application</h2> 
	
		<input id="addNew" class="btn btn-default" type="button" value="Add New Mobile" ng-click="showAddScreen()"/>
		<div id="content">	
		<div class="form-group">
				<div class="col-sm-3">
					Model : <input class="form-control" type="text" placeholder="Model Search" ng-model="modelSearch.model"/>
				</div>
				<div class="col-sm-3">
					Brand : <select class="form-control" ng-model="brandSearch.brand" ng-click="clear()">
								<option ng-repeat="mobile in mobiles | limitTo:5" value="{{ mobile.brand }}">{{ mobile.brand }}</option>
							</select>
				</div>
				<div class="col-sm-3">
					<br><input class="btn btn-default" type="button" ng-click="search()" value="Search"/>
				</div>
		</div>
			<table class="table table-hover" style="width: 50%">
				<thead>
					<tr>
						<th>Brand</th>
						<th>Model</th>
						<th>Year</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mobile in mobiles | filter:tempModel | filter:tempBrand" ng-click="setSelected()">
						<td>{{ mobile.brand }}</td>
						<td>{{ mobile.model }}</td>
						<td>{{ mobile.year }}</td>
					</tr>
				</tbody>
			</table>
			
			<div id="details" ng-hide="showDetails"> 
				<ul ng-repeat="mobile in mobiles | filter:tempModel1 | filter:tempBrand1">
					- {{ mobile.brand }} {{ mobile.model }} -
					<li>{{ "Year : " + mobile.year }}</li>
					<li>{{ "Memory Size : " +  mobile.memory + "GB"}}</li>
					<li>{{ "Color : " +  mobile.color }}</li>
					<li>{{ "Dual SIM : " +  mobile.sim }}</li>
					<li>{{ "NFC : " +  mobile.nfc }}</li>
					<li>{{ "Network : " +  mobile.network }}</li>
					<li>{{ "Screen Size : " +  mobile.screen + '"' }}</li>

				</ul>
			</div>
	</div>
			<div class="form-group" id="addScreen" ng-model="addScreen" ng-show="addScreenStatus">
				<h2>Add Mobile</h2><br>
				<form id="formID" ng-submit="save()" name="userForm">
					<div class="col-sm-3"  ng-class="{ 'has-error' : !checkModel() && !userForm.model.$pristine }">
						Model  <input type="text"  name="model" class="form-control" placeholder="Model" ng-model="addModel" >
						<p style="display: inline;" ng-show="!checkModel() && !userForm.model.$pristine" class="help-block">Model is required.</p><br>
					</div>
					<div class="col-sm-3" ng-class="{ 'has-error' : !checkYear() && !userForm.year.$pristine }">
						Manufacture Year  <input type="number" name="year" min="2009" max="2016" class="form-control" placeholder="Year" ng-model="addYear" required pattern="\d{4}"> 
						<p style="display: inline;" ng-show="!checkYear() && !userForm.year.$pristine" class="help-block">Year is required.</p><br>
					</div>
					<div class="col-sm-3">
						Brand <select class="form-control" ng-model="addBrand">
									<option ng-repeat="mobile in mobiles | limitTo:5" value="{{ mobile.brand }}">{{ mobile.brand }}</option>
							  </select><br> 
					</div>
					<div class="col-sm-3">						
						Memory <select class="form-control" ng-model="addMemory">
									<option value="16">16</option>
									<option value="32">32</option>
									<option value="64">64</option>
									<option value="128">128</option>
								</select><br>
					</div>
					<div class="col-sm-3">						
						<input type="checkbox" name="options" value="dual" ng-model="addDual" checked>Dual SIM<br>
						<input type="checkbox" name="options" value="nfc" ng-model="addNfc" checked>NFC<br>
						<input type="checkbox" name="options" value="4G" ng-model="add4G" checked>4G<br>
					</div>
					<div class="col-sm-3">							
						Screen <br><input type="radio" name="screen" value="4" ng-model="addScreen" checked> 4"<br>
							   <input type="radio" name="screen" value="5" ng-model="addScreen"> 5"<br>
							   <input type="radio" name="screen" value="6" ng-model="addScreen"> 6"<br>
					</div>
					<div class="col-sm-3">							
						Color <br><input type="radio" name="color" value="white" ng-model="addColor" checked> White<br>
							   <input type="radio" name="color" value="gold" ng-model="addColor"> Gold<br>
							   <input type="radio" name="color" value="black" ng-model="addColor"> Black<br>
					</div>	
					<div class="col-sm-offset-9 col-sm-3">		   
						<input class="form-control" type="button" value="Back" ng-click="back()">
						<input class="form-control" type="submit"  value="Save" ng-disabled="!(checkModel&&checkYear())">
					</div>
				</form>
			</div>
		</div>
		<div id="d3">
				bar chart
				<svg id="bar" class="chart">
				</svg>
				<div id="chart">
					
				</div>
				<script>
					y2012 = 4;
					y2013 = 0;
					y2014 = 0;
					y2015 = 0;
					y2016 = 0;
						for(i=0;i<mobiles.length;i++){
					       if(mobiles[i].year == 2012){
						   	y2012++ ;
						   }
					   }
					   for(i=0;i<mobiles.length;i++){
					       if(mobiles[i].year == 2013){
						   	y2013++ ;
						   }
					   }
					   for(i=0;i<mobiles.length;i++){
					   	if(mobiles[i].year == 2014){
						   	y2014++  ;
						   }
						} 
						
						for(i=0;i<mobiles.length;i++){
					       if(mobiles[i].year == 2015){
						   	y2015++ ;
						   }
					   }
					   for(i=0;i<mobiles.length;i++){
					   	if(mobiles[i].year == 2016){
						   	y2016++  ;
						   }
						}           
					
						var scale = {
						  y: d3.scale.linear()
						};
						
						var totalWidth = 500;
						var totalHeight = 200;
						
						scale.y.domain([0, 10]);
						scale.y.range([totalHeight, 0]);
						
						var years = [y2012, y2013, y2014, y2015, y2016];
						var barWidth = 80;
						
						var chart = d3.select('.chart')
						    .attr({
						        'width': totalWidth,
						        'height': totalHeight
						    });
						
						var bars = chart
						    .selectAll('g')
						    .data(years)
						    .enter()
						    .append('g');
						
						bars.append('rect')
						    .attr({
						        'x': function (d, i) {
						            return i * barWidth;
						        },
						        'y': scale.y,
						        'height': function (d) {
						            return totalHeight - scale.y(d);
						        },
						        'width': barWidth - 1
						    });
						   
												    
						     /// pie 
						     nokia = 0;
						     apple = 0;
						     lg= 0;
						     samsung=0;
						     sony=0;
						     for(i=0;i<mobiles.length;i++){
							       if(mobiles[i].brand == "Nokia"){
								   	nokia++ ;
								   }
							   }
							   for(i=0;i<mobiles.length;i++){
							       if(mobiles[i].brand == "Apple"){
								   	apple++ ;
								   }
							   }
							   for(i=0;i<mobiles.length;i++){
							   	if(mobiles[i].brand == "LG"){
								   	lg++  ;
								   }
								} 
								
								for(i=0;i<mobiles.length;i++){
							       if(mobiles[i].brand == "Samsung"){
								   	samsung++ ;
								   }
							   }
							   for(i=0;i<mobiles.length;i++){
							   	if(mobiles[i].brand == "Sony"){
								   	sony++  ;
								   }
								}           
						
						     	var w = 250;
								var h = 250;
								var r = h/2;
								var aColor = [
								    'rgb(178, 55, 56)',
								    'rgb(213, 69, 70)',
								    'rgb(230, 125, 126)',
								    'rgb(239, 183, 182)',
								    'rgb(255, 163, 192)'
								
								]
								
								var data = [
								    {"label":"Nokia", "value":nokia}, 
								    {"label": "Apple", "value":apple},
								    {"label":"LG", "value":lg}, 
								    {"label":"Sony", "value":samsung}, 
								    {"label":"Samsung", "value":sony}
								];
								
								
								var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
								
								var pie = d3.layout.pie().value(function(d){return d.value;});
								
								// Declare an arc generator function
								var arc = d3.svg.arc().outerRadius(r);
								
								// Select paths, use arc generator to draw
								var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
								arcs.append("svg:path")
								    .attr("fill", function(d, i){return aColor[i];})
								    .attr("d", function (d) {return arc(d);})
								;
								
								// Add the text
								arcs.append("svg:text")
								    .attr("transform", function(d){
								        d.innerRadius = 100;
								        d.outerRadius = r;
								        return "translate(" + arc.centroid(d) + ")";}
								    )
								    .attr("text-anchor", "middle")
								    .text( function(d, i) {return data[i].label + ' ' + data[i].value + '%';})
								;
					</script>		
			</div>
	</body>
</html>