<!DOCTYPE html>
<html ng-app="shopModule">
	<head>
		<title>Mobile Shop</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery-2.2.3.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body  ng-controller="mobiles">
		<h2>Mobile Shop Application</h2> 
		
		<input class="btn btn-default" type="button" value="Add New Mobile" ng-click="showAddScreen()"/>
		
		<div>
				
				Model : <input type="text" placeholder="Model Search" ng-model="modelSearch.model"/>
				Brand : <select ng-model="brandSearch.brand" ng-click="clear()">
							<option ng-repeat="mobile in mobiles | limitTo:5" value="{{ mobile.brand }}">{{ mobile.brand }}</option>
						</select>
						<input class="btn btn-default" type="button" ng-click="search()" value="Search"/>
	
			<table class="table table-hover" style="width: 50%">
				<thead>
					<tr>
						<th>Brand</th>
						<th>Model</th>
						<th>Year</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mobile in mobiles | filter:tempModel | filter:tempBrand" ng-click="setSelected()">
						<td>{{ mobile.brand }}</td>
						<td>{{ mobile.model }}</td>
						<td>{{ mobile.year }}</td>
					</tr>
				</tbody>
			</table>
			
			<div ng-hide="showDetails"> 
				<ul ng-repeat="mobile in mobiles | filter:tempModel | filter:tempBrand">
					- {{ mobile.brand }} {{ mobile.model }} -
					<li>{{ "Year : " + mobile.year }}</li>
					<li>{{ "Memory Size : " +  mobile.memory + "GB"}}</li>
					<li>{{ "Color : " +  mobile.color }}</li>
					<li>{{ "Dual SIM : " +  mobile.sim }}</li>
					<li>{{ "NFC : " +  mobile.nfc }}</li>
					<li>{{ "Network : " +  mobile.network }}</li>
					<li>{{ "Screen Size : " +  mobile.screen + '"' }}</li>

				</ul>
			</div>
			<div id="addScreen" ng-model="addScreen" ng-show="addScreenStatus">
				<h2>Add Mobile</h2><br>
				Model  <input type="text" placeholder="Model" ng-model="addModel"><br>
				Manufacture Year  <input type="text" placeholder="Year" ng-model="addYear"><br> 
				Brand <select ng-model="addBrand">
							<option ng-repeat="mobile in mobiles | limitTo:5" value="{{ mobile.brand }}">{{ mobile.brand }}</option>
						</select><br> 
						
				Memory <select ng-model="addMemory">
							<option value="16">16</option>
							<option value="32">32</option>
							<option value="64">64</option>
							<option value="128">128</option>
						</select><br>
						
				<input type="checkbox" name="options" value="dual" ng-model="addDual" checked>Dual SIM<br>
				<input type="checkbox" name="options" value="nfc" ng-model="addNfc" checked>NFC<br>
				<input type="checkbox" name="options" value="4G" ng-model="add4G" checked>4G<br>
				
				Screen <br><input type="radio" name="screen" value="4" ng-model="addScreen" checked> 4"<br>
					   <input type="radio" name="screen" value="5" ng-model="addScreen"> 5"<br>
					   <input type="radio" name="screen" value="6" ng-model="addScreen"> 6"<br>
					   
				Color <br><input type="radio" name="color" value="white" ng-model="addColor" checked> White<br>
					   <input type="radio" name="color" value="gold" ng-model="addColor"> Gold<br>
					   <input type="radio" name="color" value="black" ng-model="addColor"> Black<br>
					   
				<input type="button" value="Back" ng-click="back()">
				<input type="button" value="Save" ng-click="save()">
			</div>
		</div>
	</body>
</html>